@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.bg-cont {
    background-color: #50C878;
    padding: 50px;
    border-radius: 20px;
}

.Share {
    background-color: none;
    height: 45px;
    border-width: 0px;
    border-radius: 20px;
    padding: 10px;
    font-family: Roboto;
    font-weight: bold;
    font-size: 15px;
    ;
}

.heading {
    font-family: Roboto;
    font-size: 50px;
}

.sub-h {
    font-family: Roboto;
    font-size: 15px;
}